use load_env
use uv

uv sync
echo "uv sync - done"
source .venv/bin/activate
echo ""
echo ".venv activated"
echo ""
# use standard_python
echo "Useful commands:"
echo "  python main.py sklearn-label"
echo "  python main.py extract-data-from-emails --folder CATEGORY_PROMOTIONS"
echo "  python main.py extract-data-from-emails --folder CATEGORY_UPDATES"
echo "  python main.py append-to-extrached-emails"
echo "  python main.py train-sklearn-model-from-csv"
