use load_env
use standard_python 

PATH="$HOME/.dprint/bin:$PATH"
echo "Useful commands:"
echo ""
echo "  c clean"
echo "  git rebase --interactive main"
echo "  rustup update"
echo ""
echo "  cd py-polars"
echo "    make test - run tests"
echo "    make pre-commit"
echo "    make requirements - to update dependencies"


