use load_env
use standard_python
# use terminal_python
echo "Useful commands:"
echo "  python main.py"
echo "  bash scripts/format.sh  -- format, clean all code, sort imports"
echo "  bash scripts/test-cov-html.sh  -- test, generate coverate reports"
echo "  python ./scripts/docs.py live"


