unset CONDA_PREFIX
use load_env
use standard_python

echo ""
echo "  Useful commands:"
echo ""
echo "    maturin develop if change Rust code"
echo "    c update && maturin develop if change dependencies"
echo "    python -m pytest to run tests"
echo "    ruff check --output-format=github python/ to lint python"
echo ""
