
unset VIRTUAL_ENV
use conda
# source ~/miniconda3/etc/profile.d/conda.sh
conda activate pandas-dev
echo "Activated pandas-dev"
echo ""
echo "Useful commands:"
echo ""
echo "  pytest pandas -n auto -m \"not slow and not network and not db and not single_cpu\" -r sxX "
echo "  pre-commit run --all-files"
echo "  pre-commit run --hook-stage manual --all-files" 
echo "  pre-commit gc"
echo "  conda deactivate"
echo "  conda env update -f environment.yml --prune "
